{% extends "base.html" %}
{% block content %}
    <div class="form-box">
        <legend style="color: white;">Sign Up</legend>
        <form id="signupForm" method="POST" action="/sign-up">
            <div class="input-group-signup">
                <div class="input-field">
                    <i class="fas fa-user-circle"></i>
                    <input type="text" placeholder="First Name" name="first_name" required>
                </div>
                <div class="input-field">
                    <i class="fa fa-envelope"></i>
                    <input type="email" placeholder="Email" name="email" required>
                </div>
                <div class="input-field">
                    <i class='fas fa-lock'></i>
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <div class="input-field">
                    <i class='fas fa-lock'></i>
                    <input type="password" placeholder="Confirm Password" name="password2" required>
                </div>
                <br />
                <button type="submit" class="login-button">Sign Up</button>
                <small class="forget-o">Forgot Password <a href="#">Click here</a></small>
            </div>
        </form>
</div>
{% endblock content %}
